{
  "extends": ["airbnb", "eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react"],
  "rules": {
    "linebreak-style": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/prefer-default-export": "off",
    "object-curly-newline": "off",
    "implicit-arrow-linebreak": "off",
    "operator-linebreak": "off",
    "import/no-named-as-default": "off",
    "import/no-named-as-default-member": "off",
    "react/jsx-one-expression-per-line": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "globals": {
    "describe": true,
    "it": true,
    "test": true,
    "window": true,
    "expect": true,
    "cy": true,
    "document": true,
    "beforeEach": true
  }
}
